#mainHead {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#mainTail {
  min-height: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  color: #acacac;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miniContainer {
  // background-color: #f1f1f1;
  color: #acacac;
  width: 300px;
  min-height: 200px;
  margin: 10px;
  // border: 1px solid rgb(0, 204, 255);
}

.title {
  font-size: 25px;
  margin: 0 0 20px 0;
}


@media screen and (max-width: 800px) {
  #mainHead {
    flex-direction: column;

  }

  .miniContainer {
    margin: 0 !important;
  }
}