* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body,
html {
  overflow-x: hidden;
  background-color: #f6f7f9;
}

a {
  text-decoration-line: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

body {
  min-width: 320px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}