* {
  padding: 0;
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
}

body,
html {
  overflow-x: hidden;
}

a {
  text-decoration-line: none;
}

a:hover {
  text-decoration: none;
}

body {
  min-width: 320px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}