* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body,
html {
  overflow-x: hidden;
  background-color: #f6f7f9;
}


a {
  text-decoration-line: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

body {
  min-width: 320px;
  background: repeating-linear-gradient(0deg, hsla(347, 0%, 33%, 0.05) 0px, hsla(347, 0%, 33%, 0.05) 50px, transparent 50px, transparent 100px), repeating-linear-gradient(90deg, hsla(347, 0%, 33%, 0.05) 0px, hsla(347, 0%, 33%, 0.05) 50px, transparent 50px, transparent 100px), linear-gradient(90deg, hsl(139, 0%, 18%), hsl(139, 0%, 18%));
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}