.createEventContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

}

.tTitle {
  text-align: center;
  margin: 0 0 40px 0;
}

.createEventCard {
  // flex-basis: 75vw;
  margin: 35px 0 35px 0;
  width: 100%;
  max-width: 600px;
  padding: 2em;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  border-radius: .25em;
}

.inputText {
  padding: .5em;
  font-size: 0.875em;
  background: rgb(226, 226, 226);
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 1px;
  border-radius: 0;
  resize: none;
}

.inputText:focus {
  background: #fff;
  box-shadow: inset .1em .1em .25em rgba(0, 0, 0, 0.2);

}

.createEventField {
  margin-top: 1em;
  display: flex;
}

.createEventFieldLabelPartial,
.createEventFieldLabelFullWidth {
  flex: 0 1 4em;
  padding: 1em;
  border: 1px solid #ccc;
  font-size: .85em;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  line-height: 1;
  border-radius: .25em 0 0 .25em;
}

.createEventFieldLabelFullWidth {
  flex: 0 1 100%;
  border-radius: .25em .25em 0 0;
}

.createEventField .inputText {
  flex-grow: 1;
}

.inputRight .inputText {
  border-radius: 0 .25em .25em 0;
}

.inputBottom .inputText {
  border-radius: 0 0 .25em .25em;
}

.inputBottom {
  flex-direction: column;
  ;
}

.submitBtn {
  flex: 0 1 40%;
  padding: 0.8em;
  font-size: 1.2rem;
  text-shadow: 0 1px 0 #fff;
  background: #00DB92;
  border-radius: .25em;
  border: 0;
  transition: .3s;
}

.submitBtn:hover {
  cursor: pointer;
  color: #fff;
}

.submitBtn:disabled {
  background: rgba(0, 219, 146, 0.212);
  color: rgba(255, 0, 0, 0.445);
}

.errorMsg {
  color: red;
  margin: 8px 5px 5px 5px;
  font-size: .85em;
  list-style-type: none;
}

.boxForImg {
  width: 200px;
  height: 200px;
  background-color: rgb(226, 226, 226);
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);
  margin: 5px 0 0 0;
}



.eventCategoryBtn,
.loadImage {
  width: 100%;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  background-color: rgb(183, 198, 202);
}

.loadImage{
  padding: 10px 0 10px 0;
}

.eventCategoryBtn {
  height: 45px;
}

.dDownContainer {
  position: relative;
  display: inline-block;
  background-color: rgba(65, 105, 225, 0);
}

.dDownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: .85em;
  line-height: 1.5;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
  overflow-x: hidden;

}

.dDownItem {
  color: rgb(41, 2, 41);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  /* border-bottom: 1px solid gray; */
  cursor: default;
}

.dDownItem:hover {
  background-color: #00DB92;
}

.dDownContainer:hover .dDownContent {
  display: flex;
}