.mainContainer {
  min-height: 120vh;
  background-color: rgb(233, 237, 245);
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-top: 20px;
  flex-direction: column;

}

#pageTitle {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 30px;
}


.inputText {
  border-style: inset;
  border-width: 2px;
  outline: none;
  width: 275px;
  margin-bottom: 20px;
}