@import "../../../mixins/Filter.scss";
@import "../../../mixins/NoSelect.scss";

#loadingBase {
  top: 0px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.778);
  z-index: 9999;

}

@keyframes load {
  0% {
    opacity: 0.08;
    @include filter(blur(5px));
    letter-spacing: 3px;
  }

  100% {}
}

.animate {
  cursor: default;
  @include noSelect;
  color: rgb(196, 196, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  font-family: Helvetica, sans-serif, Arial;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
}