{
  "plugins": [
    "only-warn"
  ],
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "rules": {
    "react/jsx-fragments": "off"
    // "space-before-function-paren": 0
  },
  "env": {
    "browser": true
  }
}