.container {
  width: 500px;
  overflow: hidden;
  background: rgba(192, 192, 192, 0.875);
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 10px;
  text-align: center;

}

@media screen and(max-width: 500px) {
  .container {
    width: 95%;
  }
}

.content {
  color: black;
  font-size: 28px;
  display: block;
  margin: 20px 0;

}

.close {
  font-size: 18px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(0, 155, 205);
  display: inline-block;
  border-radius: 4px;
}

.close:hover {
  background: rgb(5, 140, 185);

}