@import "../../../../../mixins/BoxShadow.mixin.scss";
@import "../../../../../mixins/Transform.mixin.scss";
@import "../../../../../mixins/Filter.scss";


.mainContainer {
  min-height: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  z-index: 10;
  position: relative;
  background: grey;

}


.itemContainer {
  @include filter(grayscale(.9));
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  margin: 10px;
  height: 190px;
  @include box-shadow(0px, 2px, 13px, 2px, rgba(0, 0, 0, 0.45));
}

.itemContainer:hover {
  @include transform(scale(1.05, 1.05));
  @include filter(grayscale(.7));
  cursor: pointer;
}

.img {
  height: 190px;
  position: absolute;
}

.itemText {
  color: rgba(255, 255, 255, 0.77);
  font-size: 32px;
  font-weight: bold;
  z-index: 5;
  font-family: serif;
  margin: 5px;
  @include box-shadow(2px, 3px, 13px, 3px, rgba(36, 36, 36, 0.45));
}


@media screen and(max-width:931px) {

  // .itemContainer {
  // }
}